/* Reset default browser styles */
body{
    margin: 0;
    padding: 0;
    background-color: lightyellow
}

/* Basic styling for header */
header {
    color: black;
    padding: 1px 0;
    text-align: center;
    background-color: rgb(216, 76, 174);
    font-size: 16px;
}


/* Navigation menu */
nav ul {
    background-color: rgb(216, 76, 174);
    list-style-type: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    background-color: rgb(216, 76, 174);   
    color: black;
    text-decoration: none;
}

/* Main content area */
main {
    padding: 20px;
    ;
}

/* Section titles */
section h2 {
    margin-bottom: 10px;
}

/* Footer */
footer {
    background-color: rgb(216, 76, 174);
    color: black;
    padding: 10px 0;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}